{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}


{% block body %}
    <div class="container">
        <a href="{{ path('wild_show_season',
            { 'slug': program.slug | lower,
                'id': season.id,
                'number': season.number })
        }}" class="btn btn-sm btn-dark mb-5">
            Liste des épisodes
        </a>
        <a href="{{ path('wild_show', { 'slug': program.slug | lower }) }}" class="btn btn-sm btn-custom mb-5">
            Accueil de la saison
        </a>
        <h1 class="mb-5">{{ episode.title }}</h1>
        <div class="media">
            <div class="row actor-card">
                <div class="col col-12 col-md-5">
                    {% if episode.poster %}
                        <img class="align-self-start mr-3" src="{{ episode.poster }}" alt="{{ episode.title }}">
                    {% else %}
                        <img class="align-self-start mr-3 card-img-actor-default" src="{{ asset('build/images/movie.408ea2dd.png') }}" alt="{{ episode.title }}">
                    {% endif %}
                </div>
                <div class="media-detail col col-12 col-md-7">
                    <div class="media-body">
                        <h3>{{ program.title }}</h3>
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>Saison :</td>
                                <td>{{ season.number }}</td>
                            </tr>
                            <tr>
                                <td>Episode :</td>
                                <td>{{ episode.number }}</td>
                            </tr>
                            <tr>
                                <td>Sortie :</td>
                                <td>{{ season.year }}</td>
                            </tr>
                            <tr>
                                <td>Categorie :</td>
                                <td>{{ program.category.name }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <p>{{ episode.synopsis }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

