{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% include 'wild/parts/_menuColumn.html.twig' %}
            <div class="col-12 col-sm-12 col-md-9 col-lg-10 py-5 pl-4">
                <h1>Listes des séries</h1>

                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-3">
                        {{ form_row(form.searchField) }}
                    </div>
                </div>
                <button class="btn btn-sm btn-dark" type="submit" name="btnSearch">Rechercher</button>
                {{ form_end(form) }}

                <div class="row row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 my-5">
                    {% for program in programs %}
                        <div class="col mb-4">
                            <a href="{{ path('wild_show', { 'slug': program.title | replace({' ':'-'}) }) }}">
                                <div class="card h-100">
                                    <img src="{{ program.poster }}" class="card-img-top" alt="{{ program.title }}">
                                    <div class="card-body">
                                        <h6 class="card-title">{{ program.title }}</h6>
                                        <p class="card-text">
                                            <small class="text-muted">{{ program.category.name }}</small>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% else %}
                        Aucune série trouvée.
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}