{% extends 'base.html.twig' %}
{% block title 'Tous les acteurs' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% include 'wild/parts/_menuColumn.html.twig' %}
            <div class="col-12 col-sm-9 col-md-9 col-lg-10 py-5 pl-4">
                <h1>Listes des séries</h1>

                <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-xl-6 my-5">
                    {% for actor in actors %}
                        <div class="col mb-4 actor-card">
                            <a href="{{ path('wild_actor',
                                {'slug': actor.name | replace({' ': '-'}) | lower,
                                    'id': actor.id,
                                }) }}">
                                <div class="card card-actor h-100">
                                    {% if actor.image %}
                                        <img src="{{ actor.image }}" class="card-img-top card-img-actor" alt="{{ actor.name }}">
                                    {% else %}
                                        <img src="{{ asset('build/images/movie.408ea2dd.png') }}" class="card-img-top card-img-actor-default" alt="{{ actor.name }}">
                                    {% endif %}
                                    <div class="card-body">
                                        <p class="card-text text-center">
                                            <small class="text-muted">{{ actor.name }}</small>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% else %}
                        Aucune série trouvée.
                    {% endfor %}
                </div>
                <div class="navigation">
                    {{ knp_pagination_render(actors) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
