{% extends 'base.html.twig' %}
{% block title %}{{ program.title }}{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{ path('wild_index') }}" class="btn btn-sm btn-dark mb-5">
            Toutes les séries
        </a>
        <div class="media">
            <div class="row">
                <div class="col col-12 col-md-5">
                    <img class="image-shadow align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
                </div>
                <div class="media-detail col col-12 col-md-7">
                    <div class="media-body">
                        <h1 class="mt-0">{{ program.title }}</h1>
                        <p>{{ program.summary }}</p>
                        <p>Categorie : {{ program.category.name }}</p>
                        <p>Acteurs :
                            {% for actor in program.actors %}
                        <p class="actor-wrapper">
                            <a class="btn-custom"
                               href="{{ path('wild_actor',
                                   {'slug': actor.name | replace({' ': '-'}) | lower,
                                       'id': actor.id,
                                   }) }}">
                                {{ actor.name }}
                            </a>
                        </p>
                        {% endfor %}
                    </div>
                    <div class="seasons-list mb-5">
                        <ul class="nav flex-row mt-5">
                            {% for season in seasons %}
                                <li class="nav-item">
                                    <a class="btn btn-dark mx-1" href="{{ path('wild_show_season',
                                        { 'slug': program.title | replace({' ':'-'}) | lower,
                                            'id': season.id,
                                            'number': season.number }) }}">Saison {{ season.number }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
