{% extends 'base.html.twig' %}

{% block title %}Season index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Season index</h1>
        <a class="btn btn-sm btn-outline-dark my-4" href="{{ path('admin') }}">Accueil admin</a>
        <a class="btn btn-sm btn-dark" href="{{ path('season_new') }}">Nouvelle saison</a>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Nom de la série</th>
                <th>Saison</th>
                <th>Episodes</th>
                <th>Sortie</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for season in seasons %}
                <tr>
                    <td>{{ season.program.title }}</td>
                    <td>Saison {{ season.number }}</td>
                    <td>{{ season.episodes | length }}</td>
                    <td>{{ season.year }}</td>
                    <td>
                        <a class="btn btn-sm btn-outline-dark" href="{{ path('season_show', {'id': season.id}) }}">Afficher</a>
                        <a class="btn btn-sm btn-dark" href="{{ path('season_edit', {'id': season.id}) }}">Editer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
